---
---

body,
html {
	width: 100%;
	height: 100%;
	background-color: #eaeaea;
}

.section-a {
	border-top: 1px solid #D3C1BE;
	border-bottom: 1px solid #D3C1BE;
}

.logo{
	max-height: 80px;
}

.box {
	padding-top: 50px;
	padding-bottom: 50px;
}

footer {
	padding: 20px 0;
	background-color: #D3C1BE;
}

.header {
	padding-top: 10px;
	padding-bottom: 15px;
}

.wrap {
	width: 90%;
	margin: 0 auto;
}

.tabled {
	display: table;
	vertical-align: middle;
	border: 0px;
	border-collapse: collapse;
	outline: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	table-layout: fixed;
}


.tabled .cell {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	border: 0px;
	padding: 0px;
	outline: none;
	height: 100%;
}

.header .nav {
	text-transform: uppercase;
	color: #666;
	font-size: .950em;
	text-align: right;
}

.header .nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

nav ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.header .nav > ul > li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}
.nav > ul > li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.nav > ul > li > a {
	margin-right: 10px;
	padding-right: 10px;
}

.header .nav ul li a {
	color: #6A4B4B;
	font-size: 120%;
}
.header .nav ul li a:hover {
	color: #6A6A6A;
	text-decoration: none;

}

.amadea-fix {
	position:relative;
}

/* Flexible iFrame */

.Flexible-container {
	position: relative;
	padding-bottom: 30%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
	border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
	display: none;
}

.tab-content > .active,
.pill-content > .active {
	display: block;
}

.tabs-below > .nav-tabs {
	border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
	margin-top: -1px;
	margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
	border-top-color: #ddd;
	border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
	border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
	float: none;
}

.tabs-left > .layer1 > li > a,
.tabs-left > .layer2 > li > a {
	min-width: 110px !important;
	margin-right: 0;
	margin-bottom: 3px;
}


.tabs-left > .layer1 > li > a {
	
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
	border-color: #ddd transparent #ddd #ddd;
	*border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
	float: right;
	margin-left: 19px;
	border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
	margin-left: -1px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
	border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
	border-color: #ddd #ddd #ddd transparent;
	*border-left-color: #ffffff;
}


.tabs-left > .layer1 {
	float: left;
	border-right: 1px solid #ddd;
	

}


.tabs-left > .layer2 {
	float: left;
	border-right: 1px solid #ddd;
	margin-right: 19px;
	border-left: 0;
}

.tabs-left > .layer2 > li > a {
	margin-left: -1px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}


.tabs-left > .layer1  > a,
.tabs-left > .layer1  > a:hover,
.tabs-left > .layer1  > a:focus,
.tabs-left > .layer1 .active > a,
.tabs-left > .layer1 .active > a:hover,
.tabs-left > .layer1 .active > a:focus {
	border-right: 0 !important;
}
.tabs-left > .layer2  > a,
.tabs-left > .layer2  > a:hover,
.tabs-left > .layer2  > a:focus,
.tabs-left > .layer2 .active > a,
.tabs-left > .layer2 .active > a:hover,
.tabs-left > .layer2 .active > a:focus {
	border-left: 0 !important;
}

.tabs-left > .layer1 > li > a {
	border-radius: 4px 0 0 4px !important;
}

.name-tag, .price-tag, .time-tag {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 400;
}
@media (max-width: 991px) {
	.colored-row {
		background-color: #DBDBDB;
		border-radius: 4px;
	}
}

@media (max-width: 991px) {
	.top-price-row {
		padding-top: 20px;
	}
}

@media (max-width: 991px) {
	.layer2 {
		display: block;
		width: 100%
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.content-box {
		padding-left: 10px;
	}
}