<section id="about" class="box">
	<div class="container">
		<div class="row">

			 <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6 amadea-fix">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
				<h2 class="section-heading">Amadea grožio salonas</h2>
				<p>Self-care is integral in maintaining a sense of balance and personal health. Massage can serve a central role in supporting positive, consistent self-care. It can reconnect us with our mind and bodies, calming the mind and increasing physical awareness. In essence, massage and bodywork helps restore us to our ideal state both mentally and physically. Rather than a "special occasion splurge," consider making self-care a priority and consistent part of your healthy lifestyle. I can help you on this journey.  </p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6 amadea-fix">
			<img style="float:left" class="img-responsive img-circle" src="{{ site.baseurl }}/img/stock female.jpg" alt="">
			</div>
			
		</div>
	</div>
</section>
