<head>

<!--[if IE 7-8]>
<script type="text/javascript">
window.location = "{{site.baseurl}}/indexIE/";
</script>
<![endif]-->
  <meta name="google-site-verification" content="_0WowZMvtIxyqigd6m85uXEWadxQxjVgC0D9GcRLf-A" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  
  <link href="css/amadea.min.css" rel="stylesheet">
 

<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic&subset=latin-ext' rel='stylesheet' type='text/css'>

  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
