<div class="header">
  <div class="wrap">
    <div class="tabled">
      <div class="cell one">
        <img src="/img/amadea.png" class="img-responsive logo">
      </div>
      <div class="cell two">
        <div class="nav">
         <ul>
          <li>
          <a  href="#services">Procedūros</a>
          </li>
          <li>
            <a href="#contact">Kontaktai</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
</div>





<!-- Header -->
<div class="intro-header">
  <div class="row">
   <img src="img/spa1.jpg" class="img-responsive">
 </div>
</div>
</div>
