<section id="services" class="box  section-a">
	<div class="container">

		<div class="tabs-left">
			<ul class="nav nav-tabs layer1" id="interest_tabs">
				<!--top level tabs-->
				<li><a href="#face" data-toggle="tab">Veido</a></li>
				<li><a href="#brands" data-toggle="tab">Galva</a></li>
				<li><a href="#media" data-toggle="tab">Media</a></li>
				<li><a href="#music" data-toggle="tab">Music</a></li>
				<li><a href="#public_figures" data-toggle="tab">Public</a></li>
				<li><a href="#sports" data-toggle="tab">Sports</a></li>
				<li><a href="#tv_movies" data-toggle="tab">TV/Movies</a></li>
			</ul>

		</div>

		<!--top level tab content-->
		<div class="tab-content">
			<!--face tab menu-->
			<div id="face" class="tab-pane tabs-left">
				<ul class="nav nav-tabs layer2" id="all_tabs">
					<li><a href="#face_konsultacija" data-toggle="tab">Kosmetologo konsultacija</a></li>
					<li><a href="#face_makiazas" data-toggle="tab">Makiažas</a></li>
					<li><a href="#face_estetines" data-toggle="tab">Estetinės Procedūros</a></li>
					<li><a href="#face_auskarai" data-toggle="tab">Auskarai</a></li>
				</ul>
			</div>

			<!--brands tab menu-->
			<div id="brands" class="tab-pane  tabs-left">
				<ul class="nav nav-tabs layer2" id="brands_tabs">
					<li><a href="#brands_popular" data-toggle="tab">Popular</a></li>
					<li><a href="#brands_unique" data-toggle="tab">Unique</a></li>
				</ul>
			</div>

			<!--media tab menu-->
			<div id="media" class="tab-pane  tabs-left">
				<ul class="nav nav-tabs layer2" id="media_tabs">
					<li><a href="#media_popular" data-toggle="tab">Popular</a></li>
					<li><a href="#media_unique" data-toggle="tab">Unique</a></li>
				</ul>
			</div>

			<!--music tab menu-->
			<div id="music" class="tab-pane  tabs-left">
				<ul class="nav nav-tabs layer2" id="music_tabs">
					<li><a href="#music_popular" data-toggle="tab">Popular</a></li>
					<li><a href="#music_unique" data-toggle="tab">Unique</a></li>
				</ul>
			</div>

			<!--public_figures tab menu-->
			<div id="public_figures" class="tab-pane  tabs-left">
				<ul class="nav nav-tabs layer2" id="public_figures_tabs">
					<li><a href="#public_figures_popular" data-toggle="tab">Popular</a></li>
					<li><a href="#public_figures_unique" data-toggle="tab">Unique</a></li>
				</ul>
			</div>

			<!--sports tab menu-->
			<div id="sports" class="tab-pane  tabs-left">
				<ul class="nav nav-tabs layer2" id="sports_tabs">
					<li><a href="#sports_popular" data-toggle="tab">Popular</a></li>
					<li><a href="#sports_unique" data-toggle="tab">Unique</a></li>
				</ul>
			</div>

			<!--tv/movies tab menu-->
			<div id="tv_movies" class="tab-pane  tabs-left">
				<ul class="nav nav-tabs layer2" id="tv_movies_tabs">
					<li><a href="#tv_movies_popular" data-toggle="tab">Popular</a></li>
					<li><a href="#tv_movies_unique" data-toggle="tab">Unique</a></li>
				</ul>
			</div>



		</div>

		<!-- example

		<div id="example_example" class="tab-pane">
				<p><div class="name-tag">Dieninis</div><div class="price-tag">50Lt</div><div class="time-tag">iki 30 min</div></p>
				<p>Description lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur.</p>
			</div>

		-->

		<!--all tab content-->
		<div class="tab-content">
			<div id="face_konsultacija" class="tab-pane">
				<p><div class="name-tag">&nbsp;</div><div class="price-tag">10Lt</div><div class="time-tag">iki 30 min</div></p>
				<p>Atliekant veido valymo procedūrą, ši konsultacija nemokama.</p>
			</div>
			<div id="face_makiazas" class="tab-pane">
				<p><div class="name-tag">Dieninis</div><div class="price-tag">50Lt</div><div class="time-tag">iki 30 min</div></p>
				<p><div class="name-tag">Proginis</div><div class="price-tag">60Lt</div><div class="time-tag">iki 60 min</div></p>
				<p><div class="name-tag">Nuotakos</div><div class="price-tag">60Lt</div><div class="time-tag">iki 60 min</div></p>
				<p>Atlikdami  bet  kokį  makiažą  (paprastas,  vakarinis,  proginis),  sekant  darbų eiliškumą,  galima  pasiekti  stulbinančių  rezultatų.  Net  eilinių  bruožų  veidą, galima  paversti  grožio  etalonu. Pagrindinė makiažo  paslaptis  -  dekoratyvinė kosmetika  turi  atitikti  individuliam  grožiui  ir  amžiui.  Mūsų  specialistai  padės išsirinkti jums tinkančią kosmetiką bei atliks nepriekaištingą makiažą.
				</div>
				<div id="face_estetines" class="tab-pane">
					<p><div class="name-tag">Cheminis antakių dažymas</div><div class="price-tag">10Lt</div><div class="time-tag">iki 15 min</div></p>
					<p><div class="name-tag">Antakių korekcija</div><div class="price-tag">6-10Lt</div><div class="time-tag">iki 15 min</div></p>
					<p><div class="name-tag">Blakstienų dažymas ir korekcija</div><div class="price-tag">10Lt</div><div class="time-tag">iki 15 min</div></p>
					<p><div class="name-tag">Antakių dažymas ir korekcija</div><div class="price-tag">10Lt</div><div class="time-tag">iki 15 min</div></p>
					<p>Antakių  ir  blakstienų  dažymui  spalva  parenkama  atsižvelgiant  į  odos, plaukų  spalvą.  Galima rinktis juodą,  juodai-mėlyną,  rudą  ir  pilkšvą  spalvas. Blakstienoms  įprastai  renkamasi  mėlynai-juoda spalva,  labiau  pabrėžianti akių  kontūrą  ir  spalvą.  Antakių  korekcija  vašku  rekomenduojama,  kai  yra daug smulkių plaukelių, po to forma dar pakoreguojama pincetu.</p>
				</div>
				<div id="face_auskarai" class="tab-pane">
					<p><div class="name-tag">Ausų vėrimas(su auskarais)</div><div class="price-tag">35Lt</div><div class="time-tag">iki 15 min</div></p>
					<p><div class="name-tag">Ausų vėrimas į kitas kūno vietas</div><div class="price-tag">70Lt</div><div class="time-tag">iki 20 min</div></p>
					<p>Visos sutiksime, kad moterys siekia būti gražios ir patrauklios. Į pagalbą pasitelkia rūbus, kosmetiką, kvepalus ir, savaime suprantama, papuošalus. Auskarai ausyse - įprastas ir seniai žinomas būdas pasipuošti. O pastaruoju metu auskarus veria ne tik į ausis, bet ir į nosį, antakius, lūpą, liežuvį, bambą. Vertėtų žinoti, kad kiekvienai vėrimo rūšiai egzistuoja specifinės auskarų formos, o pirmam vėrimui naudojami tik iš specialaus metalo pagaminti auskarai (o ne tiesiog pirkti parduotuvėje), nesukeliantys alergijos net ir itin jautriam organizmui.<br>Auskarą įveria profesionalas: iš pradžių pažymės reikiamą tašką ir pačią procedūrą atliks taip, kad ji būtų kuo mažiau skausminga. Visas procesas užtruks maždaug 15-20 minučių. O po paaiškinsime apie tolimesnę priežiūrą namuose.
					</p>
				</div>

			</div>

			<!--brands tab content-->
			<div class="tab-content">
				<div id="brands_popular" class="tab-pane">
					<i>brands_popular interests go here</i>
				</div>
				<div id="brands_unique" class="tab-pane">
					<i>brands_unique interests go here</i>
				</div>
			</div>

			<!--media tab content-->
			<div class="tab-content">
				<div id="media_popular" class="tab-pane">
					<i>media_popular interests go here</i>
				</div>
				<div id="media_unique" class="tab-pane">
					<i>media_unique interests go here</i>
				</div>
			</div>

			<!--music tab content-->
			<div class="tab-content">
				<div id="music_popular" class="tab-pane">
					<i>music_popular interests go here</i>
				</div>
				<div id="music_unique" class="tab-pane">
					<i>music_unique interests go here</i>
				</div>
			</div>

			<!--public_figures tab content-->
			<div class="tab-content">
				<div id="public_figures_popular" class="tab-pane">
					<i>public_figures_popular interests go here</i>
				</div>
				<div id="public_figures_unique" class="tab-pane">
					<i>public_figures_unique interests go here</i>
				</div>
			</div>

			<!--sports tab content-->
			<div class="tab-content">
				<div id="sports_popular" class="tab-pane">
					<i>sports_popular interests go here</i>
				</div>
				<div id="sports_unique" class="tab-pane">
					<i>sports_unique interests go here</i>
				</div>
			</div>

			<!--tv_movies tab content-->
			<div class="tab-content">
				<div id="tv_movies_popular" class="tab-pane">
					<i>tv_movies_popular interests go here</i>
				</div>
				<div id="tv_movies_unique" class="tab-pane">
					<i>tv_movies_unique interests go here</i>
				</div>
			</div>

		</div>
	</div>

</section>