<section id="services" class="box  section-a">
	<div class="container">
		
		<div class="tabs-left">
			<ul class="nav nav-tabs layer1" id="interest_tabs">
				<!--top level tabs-->
				<li><a href="#estetines" data-toggle="tab">Estetinės Procedūros</a></li>
				<li><a href="#masazai" data-toggle="tab">Masažai</a></li>
				<li><a href="#aparatines" data-toggle="tab">Aparatinės Procedūros</a></li>

			</ul>

		</div>

		<!--top level tab content-->
		<div class="tab-content">
			<!--estetines proceduros tab menu-->
			<div id="estetines" class="tab-pane tabs-left">
				<ul class="nav nav-tabs layer2" id="all_tabs">
					<li><a href="#face_makiazas" data-toggle="tab">Makiažas</a></li>
					<li><a href="#face_auskarai" data-toggle="tab">Auskarai</a></li>
					<li><a href="#face_antakiai" data-toggle="tab">Antakiai ir Blakstienos</a></li>
					<li><a href="#face_depiliacija" data-toggle="tab">Depiliacija</a></li>					
				</ul>
			</div>

			<!--masazai tab menu-->
			<div id="masazai" class="tab-pane  tabs-left">
				<ul class="nav nav-tabs layer2" id="brands_tabs">
					<li><a href="#masazai_paprastas" data-toggle="tab">Visi masažai</a></li>
					<li><a href="#masazai_aparatu" data-toggle="tab">"Lengvos Kojos" procedūra</a></li>
					<li><a href="#masazai_vibrocare" data-toggle="tab">Masažai su "Vibro Care" aparatu</a></li>
					<li><a href="#masazai_swinger" data-toggle="tab">Procedūra su "Swinger" aparatu</a></li>
				</ul>
			</div>

			<!--aparatines tab menu-->
			<div id="aparatines" class="tab-pane  tabs-left">
				<ul class="nav nav-tabs layer2" id="music_tabs">
					<li><a href="#aparatines_kainos" data-toggle="tab">Aparatinių procedūrų kainynas</a></li>
					<li><a href="#aparatines_biopron" data-toggle="tab">"Biopron" Šviesos terapija</a></li>
					<li><a href="#aparatines_biomak" data-toggle="tab">"Biomak" Galvanizacija</a></li>
					<li><a href="#aparatines_giluminis" data-toggle="tab">Giluminis veido valymas ultragarsu</a></li>
					<li><a href="#aparatines_mikro" data-toggle="tab">Deimantinė Mikrodermobrazija</a></li>
					<li><a href="#aparatines_stoptime" data-toggle="tab">"Stop time" Procedūra</a></li>
					

				</ul>
			</div>



		</div>

		<!-- example

		<div id="example_example" class="tab-pane">
				<p><div class="name-tag">Dieninis</div><div class="price-tag">50Lt</div><div class="time-tag">iki 30 min</div></p>
				<p>Description lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur.</p>
			</div>
		
<div id="" class="tab-pane">
				<p><div class="name-tag"></div><div class="price-tag">Lt</div><div class="time-tag">€</div></p>
				<p>Description lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur.</p>
			</div>
		
		-->

		<!--all tab content-->
		<div class="col-lg-7 col-xs-6">
			<div class="tab-content">

				<div id="face_makiazas" class="tab-pane">
					<p><div class="name-tag">Dieninis</div><div class="time-tag">17€</div><div class="price-tag">58,65Lt</div></p>
					<p><div class="name-tag">Proginis</div><div class="time-tag">18€</div><div class="price-tag">62,10Lt</div></p>
					<p>Atlikdami  bet  kokį  makiažą,  sekant  darbų eiliškumą,  galima  pasiekti  stulbinančių  rezultatų.  Net  eilinių  bruožų  veidą, galima  paversti  grožio  etalonu. Pagrindinė makiažo  paslaptis  -  dekoratyvinė kosmetika  turi  atitikti  individuliam  grožiui  ir amžiui.</p>

				</div>
				<div id="face_antakiai" class="tab-pane">
					<p><div class="name-tag">Cheminis antakių dažymas</div><div class="time-tag">3€</div><div class="price-tag">10,35Lt</div></p>
					<p><div class="name-tag">Antakių korekcija</div><div class="time-tag">3€</div><div class="price-tag">10,35Lt</div></p>
					<p><div class="name-tag">Blakstienų dažymas ir korekcija</div><div class="time-tag">6€</div><div class="price-tag">20,70Lt</div></p>
					<p><div class="name-tag">Antakių dažymas ir korekcija</div><div class="time-tag">6€</div><div class="price-tag">10,35Lt</div></p>
					<p>Antakių  ir  blakstienų  dažymui  spalva  parenkama  atsižvelgiant  į  odos, plaukų  spalvą.  Galima rinktis juodą,  juodai-mėlyną,  rudą  ir  pilkšvą  spalvas. Blakstienoms  įprastai  renkamasi  mėlynai-juoda spalva,  labiau  pabrėžianti akių  kontūrą  ir  spalvą.  Antakių  korekcija  vašku  rekomenduojama,  kai  yra daug smulkių plaukelių, po to forma dar pakoreguojama pincetu.</p>
				</div>
				<div id="face_auskarai" class="tab-pane">
					<p><div class="name-tag">Ausų vėrimas(su auskarais)</div><div class="time-tag">12€</div><div class="price-tag">41,40Lt</div></p>
					<p><div class="name-tag">Ausų vėrimas į kitas kūno vietas</div><div class="time-tag">26€</div><div class="price-tag">89,70Lt</div></p>
					<p>Visos sutiksime, kad moterys siekia būti gražios ir patrauklios. Į pagalbą pasitelkia rūbus, kosmetiką, kvepalus ir, savaime suprantama, papuošalus. Auskarai ausyse - įprastas ir seniai žinomas būdas pasipuošti. O pastaruoju metu auskarus veria ne tik į ausis, bet ir į nosį, antakius, lūpą, liežuvį, bambą. Vertėtų žinoti, kad kiekvienai vėrimo rūšiai egzistuoja specifinės auskarų formos, o pirmam vėrimui naudojami tik iš specialaus metalo pagaminti auskarai (o ne tiesiog pirkti parduotuvėje), nesukeliantys alergijos net ir itin jautriam organizmui.<br>Auskarą įveria profesionaliai: iš pradžių pažymėsime reikiamą tašką ir pačią procedūrą atliksime taip, kad ji būtų kuo mažiau skausminga. Visas procesas užtruks maždaug 15-20 minučių. O po paaiškinsime apie tolimesnę priežiūrą namuose.
					</p>
				</div>




				<div id="face_depiliacija" class="tab-pane">
					<p><div class="name-tag">Antakių vašku/cukrumi</div><div class="time-tag">3/4,5€</div><div class="price-tag">10,35/15,53Lt</div></p>
					<p><div class="name-tag">Ūsiukų vašku/cukrumi</div><div class="time-tag">3/4,5€</div><div class="price-tag">10,35/15,53Lt</div></p>
					<p><div class="name-tag">Veido vašku/cukrumi</div><div class="time-tag">6/7,5€</div><div class="price-tag">20,70/25,88Lt</div></p>
					<p><div class="name-tag">Rankų vašku/cukrumi</div<div class="time-tag">9/12€</div>><div class="price-tag">nuo 31,05/41,40Lt</div></p>
					<p><div class="name-tag">Kojų vašku/cukrumi</div><div class="time-tag">19/25€</div><div class="price-tag">nuo 65,55/86,25Lt</div></p>
					<p><div class="name-tag">Tik blauzdų  vašku/cukrumi</div><div class="time-tag">14,50/20,50€</div><div class="price-tag">50,03/70,73Lt</div></p>
					<p><div class="name-tag">Tik šlanų vašku/cukrumi</div><div class="time-tag">11,50/14,50€</div><div class="price-tag">39,68/50,03Lt</div></p>
					<p><div class="name-tag">Pažastų vašku/cukrumi</div><div class="time-tag">9/11,50€</div><div class="price-tag">31,05/39,68Lt</div></p>
					<p><div class="name-tag">Bikini vašku/cukrumi</div><div class="time-tag">17,50€</div><div class="price-tag">nuo 60,38Lt</div></p>
				</div>

			</div>



			<!--brands tab content-->
			<div class="tab-content">
				<div id="masazai_paprastas" class="tab-pane">
					<p><div class="name-tag">Veido masažas</div><div class="time-tag">3€</div><div class="price-tag">10,35Lt</div></p>
					<p><div class="name-tag">Klasikinis nugaros masažas</div><div class="time-tag">12€</div><div class="price-tag">41,40Lt</div></p>
					<p><div class="name-tag">Galvos, pečių juostos masažas</div><div class="time-tag">11€</div><div class="price-tag">37,95Lt</div></p>
					<p><div class="name-tag">Kaklo, nugaros masažas</div><div class="time-tag">10€</div><div class="price-tag">34,50Lt</div></p>
					<p><div class="name-tag">Atpalaiduojamasis masažas</div><div class="time-tag">29€</div><div class="price-tag">100,05Lt</div></p>
					<p><div class="name-tag">Medaus nugaros masažas</div><div class="time-tag">12€</div><div class="price-tag">37,95Lt</div></p>
					<p><div class="name-tag">Anticeliulitinis kūno masažas</div><div class="time-tag">12€</div><div class="price-tag">37,95Lt</div></p>
					<p><div class="name-tag">Vakuuminis nugaros masažas</div><div class="time-tag">12€</div><div class="price-tag">37,95Lt</div></p>
					<p><div class="name-tag">Kaklo masažas su "Vibro Care"</div><div class="time-tag">7,50€</div><div class="price-tag">25,88Lt</div></p>
					<p><div class="name-tag">Pėdų masažas su "Vibro Care"</div><div class="time-tag">6€</div><div class="price-tag">20,70Lt</div></p>
					<p><div class="name-tag">Procedūra su "Swinger"</div><div class="time-tag">nuo 3€</div><div class="price-tag">nuo 10,35Lt</div></p>
					<p><div class="name-tag">Masažas su masažiniu diržu</div><div class="time-tag">3€</div><div class="price-tag">10,35Lt</div></p>
					<p><div class="name-tag">Procedūra "Lengvos Kojos"</div><div class="time-tag">12€</div><div class="price-tag">41,40Lt</div></p>
				</div>

				<div id="masazai_aparatu" class="tab-pane">
					<p><div class="name-tag">Procedūros kaina</div><div class="time-tag">12€</div><div class="price-tag">41,40Lt</div></p>
					<p>&nbsp;Dirbate stovimą ar sėdimą darbą? Jaučiate maudulį ir sunkumą kojose, jos tinsta? Net 3 puikios procedūros sugrąžins Jūsų kojoms lengvumą! Jums bus atliekama 15 min. trukmės kojų šveitimas su negyvosios jūros druska, 20 min. kojų limfodrenažinis masažas specialiu aparatu ir 15 min. atpalaiduojantis pėdų masažas!</p>
					<h4>KOMPLEKSAS „LENGVOS KOJOS“ REKOMENDUOJAMAS:<h4></h4>
					• Jeigu jaučiate sunkumą kojose,
					<br>• Jos tinsta,
					<br>• Vargina kojų skausmas ar maudimas,
					<br>• Dirbate sėdimą ar stovimą darbą,
					<br>• Jeigu norite jas atpalaiduoti po sunkaus fizinio krūvio,
					<br>• Kojų venų ligų profilaktikai.
					<br>• KOJŲ ŠVEITIMAS
					<p>&nbsp;Kojų šveitimo su negyvosios jūros druska metu kojos ir pėdos šveičiamos atliekant specialius ir švelnius judesius. Negyvosios jūros druska nušveičia negyvąsias odos ląsteles, pagerina kraujo apytaką, atveria ir išvalo poras, pašalina toksinus. Tai efektyvi priemonė kovojant su odos senėjimu ir odos sausumu. Ji atkuria odos drėgmę, maitina ir minkština. Moksliniais tyrimais įrodyta, kad ji sumažina net 40% raukšlių gylį, išlaiko jaunatvišką odą ir apsaugo nuo ankstyvo senėjimo. Negyvosios jūros druska mažina sąnarių ir nugaros skausmus bei sustingimą, gydo artritą. Taip pat padeda atsipalaiduoti, ramina, gali padėti žmonėms, turintiems medžiagų apykaitos sutrikimų.</p>


					<p><h4>LIMFODRENAŽINIS MASAŽAS</h4></p>
					<p> &nbsp; Šis masažas atliekamas lėtais, lengvais, ritmiškais tempiamaisiais judesiais, akcentuojamais iš periferijos į centrą, limfos tekėjimo kryptimi. Masažo poveikis: Suaktyvina kraujotaką, skatina susikaupusių skysčių pasišalinimą, mažina pėdų ir kojų tinimą, atpalaiduoja sustingusias kojas. Tai puiki priemonė trombozių profilaktikai, gerina bendrą organizmo savijautą, stiprina imunitetą. Limfodrenažinis masažas taikomas ne tik kaip gydymo ir profilaktikos priemonė - tai ypač efektyvus būdas gydyti celiulitą, mažinti kūno apimtis. Taigi, atlikdamos šią procedūrą, ne tik atsikratysite kojų nuovargio, bet ir sumažinsite celiulitą, sustangrinsite odą!</p>
					<p>&nbsp;Pabaigoje Jums bus atliktas 15 min. trukmės atpalaiduojantis – taškinis pėdų masažas. Sakoma, kad pėdos - tai mūsų kūno veidrodis, atspindintis kiekvieno organo veiklą ir jos sutrikimus, todėl manoma, kad pėdų masažas teigiamai veikia įvairias organizmo sritis bei mažina tam tikrus negalavimus. Gerai išmasažavus šį nedidelį plotelį poveikis nieko nenusileidžia viso kūno masažui. Speciali masažo technika ir malonūs prisilietimai stebuklingai veikia mūsų organizmą. Mes Jums padėsime atsipalaiduoti, bent trumpam pamiršti kasdieninius rupesčius ir susigrąžinti puikią savijautą!</p>
				</div>

				<div id="masazai_vibrocare" class="tab-pane">
					<p><div class="name-tag">Kaklo procedūros kaina</div><div class="time-tag">7,50€</div><div class="price-tag">25,88Lt</div></p>
					<p><div class="name-tag">Pėdų procedūros kaina</div><div class="time-tag">6€</div><div class="price-tag">20L,70t</div></p>
					<p>&nbsp;Biomechaninis stimuliatorius su infraraudonaisiais spinduliais naudojantis infragarsinė vibracinė sistema

						<h4>Paskirtis:</h4>

						•	periferinės kraujotakos gerinimui
						<br>•	limfodrenažui
						<br>•	raumenų stiprinimui
						<br>•	skausmo mažinimui (neuromuskulinės kilmės).</p>
					</div>

					<div id="masazai_swinger" class="tab-pane">
						<p><div class="name-tag">Procedūros kaina</div><div class="time-tag">nuo 3€ iki 9€</div><div class="price-tag">nuo 10,35Lt iki 30,05Lt</div></p>
						<p>&nbsp;Tai puikus daugiafunkcinis profilaktinis ir sveikatą stiprinantis aparatas medicinos įstaigoms bei individualiam naudojimui.</p>
						<p>Reguliarus naudojimas duoda tokį patį profilaktinį – gydomąjį efektą, kaip ir daugelio valandų fizinė mankšta arba ilgų distancijų bėgimas.</p>
						<p>Aparatą gali naudoti visų amžiaus grupių asmenys. Kūno padėtis procedūros metu – gulima – atsipalaidavus, todėl nėra traumų tikimybės.</p>
						<p><h4>SWINGER rekomenduojama naudoti, kai yra:</h4></p>
						•	viršsvoris
						<br>•	stuburo iškrypimai
						<br>•	nugaros ir juosmens skausmai, radikulitas, neuralgijos
						<br>•	artritai, sąnarių skausmai, podagra
						<br>•	virškinamojo trakto funkcijų sutrikimai, vidurių užkietėjimas, hemorojus
						<br>•	anemija
						<br>•	galvos skausmai, chroniškas nuovargio sindromas
						<br>•	periferinės kraujotakos, mikrocirkuliacijos sutrikimai
						<br>•	nejudrus gyvenimo būdas
						<br>•	darbas stovimoje padėtyje
						<br>•	stresai, nerimas, padidėjęs dirglumas
						<br>•	nemiga
						<br>•	atsistatymo po ligų laikotarpiu
						<p><h4>Naudingo sveikatai poveikio spektras labai platus:</h4></p>
						•	aktyvuoja ląstelių veiklą, mažina riebalų kaupimąsi (viršsvorį), greitina riebalų skaidymąsi (ypač juosmens-kryžkaulio srityje, kur daugeliui žmonių sunku pritaikyti aktyvią mankštą), mažina celiulitą;
						<br>•	tiesina stuburą (esant iškrypimams) ir apsaugo nuo naujų deformacijų;
						<br>•	suteikia pilnavertį fizinį krūvį stuburo sąnariams, stiprina raumenis;
						<br>•	šalina stuburo, kaklo, nugaros, raumenų, neuralginius skausmus;
						<br>•	malšina skausmą sergant artritu, podagra;
						<br>•	gerina mikrocirkuliaciją, audinių aprūpinimą krauju ir deguonimi;
						<br>•	stiprina imunitetą, stimuliuoja simpatinių nervų darbą ir kraujo gamybą kaulų čiulpuose;
						<br>•	aktyvuodamas limfinę sistemą bei limfos apytaką pagreitina toksinų bei medžiagų apykaitos produktų pašalinimą iš organizmo;
						<br>•	gerina endokrininės sistemos, vidaus organų darbą, kraujo apykaitą, tuštinimąsi (esant vidurių užkietėjimams);
						<br>•	malšina galvos skausmus, ramina (esant nemigai), nuima nervinę įtampą, šalina nuovargį, atpalaiduoja;
						<br>•	stiprina pilvo raumenis, gerina odos būklę, užkerta kelią raukšlių atsiradimu. 
					</p>
				</div>
			</div>

			<!--media tab content-->
			<div class="tab-content">
				<div id="aparatines_kainos" class="tab-pane">
					<p><div class="name-tag">Karpų, moliuksų, kapiliarių šalinimas</div><div class="time-tag">nuo 15€</div><div class="price-tag">nuo 51,75Lt</div></p>
					<p><div class="name-tag">Darsonvalizacija</div><div class="time-tag">nuo 3€</div><div class="price-tag">nuo 10,35Lt</div></p>
					<p><div class="name-tag">Šviesos spalvų terapija su "Biopron"</div><div class="time-tag">nuo 3€</div><div class="price-tag">nuo 10,35Lt</div></p>
					<p><div class="name-tag">Galvanizacija su "Biomak"</div><div class="time-tag">nuo 3€</div><div class="price-tag">nuo 10,35Lt</div></p>
					<p><div class="name-tag">Giluminis veido valymas ultragarsu</div><div class="time-tag">nuo 25€</div><div class="price-tag">nuo 85,25Lt</div></p>
					<p><div class="name-tag">Deimantinė mikrodermobrazija</div><div class="time-tag">34/45€</div><div class="price-tag">117,30/155,25Lt</div></p>
					<p><div class="name-tag">Procedųra veidui "Stop Time"</div><div class="time-tag">18€</div><div class="price-tag">62,10Lt</div></p>
					<p><div class="name-tag">Procedūra kūnui "Stop Time"</div><div class="time-tag">26€</div><div class="price-tag">89,70Lt</div></p>
					<p><div class="name-tag">Abonementas (5 procedūros po 60 Lt)</div><div class="time-tag">87€</div><div class="price-tag">300,15Lt</div></p>
				</div>

				<div id="aparatines_salinimas" class="tab-pane">
					<p><div class="name-tag">Procedūros kaina</div><div class="time-tag">nuo 15€</div><div class="price-tag">nuo 51,75Lt</div></p>
					<p>karpu kapiiaru salinimas. paslepta Description lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur.</p>
				</div>
				<div id="aparatines_biopron" class="tab-pane">
					<p><div class="name-tag">Procedūros kaina</div><div class="time-tag">nuo 3€</div><div class="price-tag">nuo 10,35Lt</div></p>
					<p>&nbsp;Šviesos terapija BIOPTRON veikia natūraliai, palaikydama regeneracines bei balansuojamąsias kūno savybes, ir taip padėdama atsiskleisti paties organizmo sveikimo potencialui. Patekusi į organizmą, šviesos energija skatina biostimuliacijos procesą, kuris organizme teigiamai stimuliuoja įvairius biologinius procesus ir pagerina organizmo veiklą.</p>
					<p><h4>Patogus naudoti nefarmakologinis gydymo metodas</h4></p>
					<p>Patogi naudoti, efektyvi ir nefarmakologinė medicinos priemonė –technologija BIOPTRON, tapo pripažinta ir įvairiai taikoma medicinoje. Penkiolika metų atliekant klinikinius tyrimus nustatyta, kad ši technologija naudinga ūmioms ir lėtinėms traumoms bei operacinėms žaizdoms konservatyviai gydyti.
						<br>Medicinoje vėl pradėjome remtis Hipokrato gydymo filosofijos idėjoms: “Primum non nocere” (lot. pirmiausia – nepakenkti) ir “Gerbk gamtos gydomąsias galias”.
						Šviesos terapijos sistema BIOPTRON yra medicinos prietaisas, aprobuotas remiantis 93/42/EEB direktyva.</p>
						<p><h4>BIOSTIMULIUOJANTIS POVEIKIS</h4></p>
						<p>BIOPTRON šviesa turi biostimuliuojantį poveikį – veikdama odą, ji stimuliuoja šviesai jautrias vidines ląstelių struktūras ir molekules. Todėl ląstelėse prasideda grandininės reakcijos ir pasireiškia vadinamosios antrinės reakcijos, kurios gali veikti ne tik gydomos odos plotą, bet ir visą organizmą.</p>
						<p><h4>STIMULIUOJA IR MODULIUOJA</h4></p>
						BIOPTRON šviesos terapija stimuliuoja ir moduliuoja atstatomuosius, regeneracinius ir žmogaus imuninės sistemos procesus.
						<p><h4>VEIKIA NATŪRALIAI</h4></p>
						BIOPTRON šviesos terapija palaiko natūralią organizmo regeneraciją ir taip leidžia atsiskleisti organizme glūdinčiam gydomajam potencialui.
						
						<p><h4>POLIARIZUOTA</h4></p>
						BIOPTRON šviesa yra poliarizuota – jos bangos sklinda (virpa) lygiagrečiomis plokštumomis. BIOPTRON prietaisais skleidžiama šviesa siekia 95% poliarizacijos laipsnį.
						<p><h4>POLICHROMATINĖ</h4></p>
						BIOPTRON šviesa yra polichromatinė. Tai reiškia, kad šią šviesą sudaro ne vienodo ilgio spinduliai (pavyzdžiui, lazerio spinduliai), bet įvairūs, įskaitant matomos šviesos ir dalį infraraudonųjų spindulių spektro. BIOPTRON šviesos bangos ilgių diapazonas yra nuo 480 nm iki 3400 nm.
						BIOPTRON šviesoje nėra UV spindulių!
						<p><h4>NEKOHERENTIŠKA</h4></p>
						Koherentiška arba vienodo fazių svyravimo lazerio šviesa.
						<br>Koherentiška – tai šviesa, kurios bangų svyravimai sutampa fazėmis.
						<br>Skirtingai nuo lazerio spindulių, BIOPTRON šviesa yra nekoherentiška, t. y. jos bangų svyravimų fazės nesutampa.
						<p><h4>MAŽO INTENSYVUMO</h4></p>
						BIOPTRON šviesa yra mažo energijos tankio. Šis mažas energijos tankis veikia biostimuliuojančiai todėl šviesa teigiamai veikia įvarius biologinius procesus, vykstančius organizme.</p>
					</div>
					<div id="aparatines_biomak" class="tab-pane">
						<p><div class="name-tag">Procedūros kaina</div><div class="time-tag">nuo 3€</div><div class="price-tag">10,35Lt</div></p>
						</div>
						<div id="aparatines_giluminis" class="tab-pane">
							<p><div class="name-tag">Procedūros kaina</div><div class="time-tag">nuo 25€</div><div class="price-tag">86,25Lt</div></p>
							<p>Procedūros ultragarsu – tai nerauminės, neskausmingos procedūros,
								naudojant ultragarso  bangas. Ultragarsinė terapija taikoma tiek veido 
								procedūrose tiek kūno liekninimo procedūrų programose, nes ultragarsas 
								geba ne tik tonizuoti bet ir tiesiogiai veikti poodinį riebalinį audinį, kuris 
								atsakingas už kūno formas, lieknumą.
								<br>
								<br>ULTRAGARSAS – pripažintas gydymo metodas, naudojamas medicinoje, chirurgijoje,  šiuolaikinėje  kosmetologijoje, turintis platų poveikio spektrą:
								<br>• gerina mikrocirkuliaciją
								<br>• optimizuoja limfos tėkmę, mažina paburkimus
								<br>• slopina uždegimą, skausmą;
								<br>• skatinama ląstelių regeneracija
								<br>• minkštinami bei lyginami randai
								<br>• stangrina odą, tvirtina audinių tonusą
								<br>• stabdo senėjimo procesus
								<br>
								<br>Biomak kompanijos aparatas yra klasikinės ultragarsinės terapijos 
								prietaisas, generuojantis pulsuojantį ir pastovų ultragarsą, skirtą terapijai bei 
								kosmetinėms procedūroms.
								<br>Atliekamos terapinės programos pagal indikacijas – nustatomas gydymo 
								rėžimas, trukmė, dažnis, intensyvumas, pastovus ar pulsuojantis ultragarsas. 
								Aparatas generuoja bangas 1MHz ir 3 MHz dažniu, intensyvumas 0-3 W/cm2 neskausminga ir saugi. Procedūros aktyviosios dalies trukmė 7-15 min.
								<h4>EFEKTAI: </h4>
								• mechaninė mikro masažo terapija
								<br>• malonus šiluminis – terminis efektas
								<br>
								<br>
								<p>Dėl šiluminio ir mechaninio poveikio, gaunamas biologinis efektas: skatinama mikrokapilarinė cirkuliacija, dėl ko  audiniai pasisavina daugiau deguonies, gerėja medžiagų apykaita ir ląsteliniame lygmenyje. Limfotakos ktyvinimas turi tiesioginę įtaką skysčių šalinimui, dėl ko pagerėja bendroji audinių būklę, dingsta patinimai, paburkimai, maišeliai po akimis. Kinta audinių pH – šarminama, dėl to pagerėja mityba audiniuose, mažėja raumenų hipertonija, slopsta skausmas, mažėja uždegiminiai procesai audinyje. Dėl šių efektų ultragarsas vertinamas ir naudojamas medicinoje po plastinių operacijų – randų, kraujosruvų mažinimui.
								<br>Procedūrų efektyvumui būtini tikslingi kiekiai, sekamas laikas bei cikliškumas. Maksimalus procedūrų kursas 10  procedūrų, kurias kartoti rekomenduojama tik po 2 mėn. pertraukos.</p>

								<h4>TAIKYMAS:</h4>
								• veido, krūtinės odos tonizavimui
								<br>• odos patempimo procedūroms
								<br>• odos regeneracijai aktyvinti
								<br>• odos sausumui mažinti
								<br>• veido ovalo tvirtumui
								<br>• patinimams šalinti,
								<br>• tamsių ratilų ir maišelių po akimis tonizuojanti terapija
								<br>• kūno (veido) apimčių mažinimui
								<br>• mimikos ir amžiaus raukšlių terapijai bei gydymui
								<br>• odos spalvai, skaistumui
								<br>• strijų mažinimui
								<br>• riebios odos gydymui  
								<br>• jautrios odos gydymui
								<br>
								<h4>KONTRAINDIKACIJOS:</h4>
								• nėštumas
								<br>• karščiavimas
								<br>• imunologinės bei infekcinės ligos
								<br>• TBC
								<br>• onkologinės ligos
								<br>• odos navikai
								<br>• intoksikacijos kraujo ligos
								<br>• išeminė širdies liga
								<br>• širdies elektrostimuliatorius
								<br>• tromboflebitas• centrinės nervų sistemos ligos, trišakio nervo uždegimas
								<br>• labai žemas ar aukštas kraujo spaudimas
								<br>• endokrininės ligos
								<br>
								<br>Procedūra gali būti taikoma atskirai ar derinant su kitomis medi-estetinėmis procedūromis (ultragarsinis veido valymas, cheminis pilingas, deimantinė dermabrazija, klasikine mezoterapija)..</p>
							</div>
							<div id="aparatines_mikro" class="tab-pane">
								<p><div class="name-tag">Procedūros kaina</div><div class="time-tag">34/45€</div><div class="price-tag">117,30/155,25Lt</div></p>
								<p>Deimantinės mikrodermabrazijos metu, dėka deimantinių antgalių ir vakuumo traukos nušlifuojamas raginis epidermio sluoksnis ir sprendžiamos tokios odos problemos:
									<br>•	odos reljefo nelygumai,
									<br>•	išsiplėtusios poros,
									<br>•	pigmentinės dėmės,
									<br>•	akne pažeista oda,
									<br>•	nešvari bei pavargusi oda,
									<br>•	mimikos raukšlės bei smulkios raukšlytės.
									<h4>Procedūros eiga:</h4>
									•	pečių juostos masažas
									<br>•	demakiažas
									<br>•	paakių, veido, kaklo mikrodermabrazija
									<br>•	serumas (pagal odos poreikius)
									<br>•	paakių, veido, kaklo limfodrenažinis masažas
									<br>•	paakių, kaklo, veido kaukės
									<br>•	rankų masažas
									<br>•	paakių, veido, kaklo kremai
									<br>Trukmė: 45-90 min.</p>
								</div>
								<div id="aparatines_stoptime" class="tab-pane">
									<p><div class="name-tag">Veidui</div><div class="time-tag">18€</div><div class="price-tag">62,10Lt</div></p>
									<p><div class="name-tag">Kūnui</div><div class="time-tag">26€</div><div class="price-tag">89,70Lt</div></p>
									<p>&nbsp;STOP prietaisas skleidžia keturias žemo RD (radio dažnio) bangas į dermą, kurios švelniai šildo odą iš vidaus. Tai skatina dermos aktyvumą. Kolageno skaidulos susitraukia, tokiu būdu oda sustangrėja, o stimuliuojamos fibroblasto ląstelės skatina naujų kolageno skaidulų susidarymą. Tokiu būdu oda regimai sustangrėja, tonizuojama ir skatinamas tolesnis odos atsinaujinimas. Jau atlikus pirmąsias procedūras – regimi akivaizdūs lygesnės, labiau švytinčios odos rezultatai. Atliekant procedūrą 4 – 6 savaites, bus pasiektas jos ilgalaikis poveikis. Siekiant užtikrinti ilgalaikius glotnesnės, stangresnės, labiau švytinčios odos rezultatus, odos priežiūros procedūros gali būti atliekamos kartą per mėnesį.</p>

									<p><br>•	Senstant mažėja kolageno skaidulų kiekis dermoje (giliajame odos sluoksnyje), tokiu būdu oda tampa plonesnė.
										<br>•	STOP prietaisas naudoja TriPollar technologiją, pasitvirtinusią jau tūkstančiuose profesionalių grožio klinikų visame pasaulyje.
										<br>•	TriPollar energija stimuliuoja naujų kolageno skaidulų susidarymą, tokiu būdu derma (gilusis odos sluoksnis) tampa tampresnė ir standesnė.
										<br>•	Klinikiniai tyrimai rodo, kad TriPollar (trejopo poveikio) odos priežiūros procedūros padidina dermos standumą iki 50 procentų.
										<br>•	Tvirtesnė ir stangresnė oda leidžia moteriai pasijusti dešimčia metų jaunesne dėka regimų ilgalaikių odos priežiūros procedūros rezultatų, sumažėjusių smulkių raukšlelių ir gilių raukšlių bei pagerėjusios bendros odos būklės.
										<br>•	STOP procedūra – maloni lygiai tiek pat, kiek veiksminga ir saugi bei tinkama visiems odos tipams. Paprastai reikia dviejų procedūrų per savaitę, kurios atliekamos šešias savaites.</p>
									</p>
								</div>
							</div>	
						</div>
					</div>
				</div>

			</section>
