<section id="about" class="box">
	<div class="container">
		<div class="row">

			
			

			<div class="col-md-5 col-md-offset-1  col-md-push-6 col-sm-8 col-sm-offset-2  col-xs-12">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Amadea grožio salonas</h2>
				<p>Rūpinimasi savimi ir grožiu padarykime savo gyvenimo dalimi!</p>

					<p>Grožis ir sveikata – vienas be kito šie žodžiai negalimi, gal todėl taip dažnai juos girdime kartu. Turbūt sutiksite, kad žmogaus išvaizda rodo jo vidinę savijautą, kuri dažniausiai priklauso nuo jo nuotaikos ir dvasinės sveikatos. Grožio ir masažo salono „Amadea“ tikslas – rūpintis Jūsų grožiu nuolat ir reguliariai.</p>

					<p>Grožio ir masažo salonas „Amadea“ siūlo Jums profesionalias ir kvalifikuotas paslaugas veidui ir kūnui,  kokybišką produkciją, prieinamas kainas, malonų aptarnavimą. Jūsų grožiu pasirūpins salone dirbanti meistrė, turinti INFA  Tarptautinį grožio estetiko diplomą.</p>

					<p>Raskite laiko pasirūpinti savimi.</p>

					<p>Salone Jūs visada laukiami.</p>
				
			</div>
			<div class="aboout-img col-md-6 col-md-offset-0  col-md-pull-6 col-sm-8 col-sm-offset-2 col-xs-12">
				<img class="img-responsive img-rounded" src="../img/AmadeaSalon.png">
			</div>

		</div>
	</div>
</section>
